/* Medium (768px) Large (992px)  & Extra Large (1200px) devices (desktops, laptops, tablets) */
.erna {
    border-radius: 25px;
    box-shadow: 8px 8px #4d453d;
    object-fit: cover;
    width: 90%;
}

body {
    background-color: #c9d3ddce;
} 

.jumbotron-fluid {
    background-color:#021f54;

    border-style: solid;
    border-width: 5px;
    border-color: #aa671d;
    height: 500px;
    position: relative;
}

.display-4 {
    color: #ffffff;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.lead {
    color: #aa671d;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
        
.h1, h2, #takemeHome {
    color:#021f54;
}

h3 {
    color: #006e8c;
}

.container {
    padding: 25px;
}

p {
    color: #aa671d;
}
        
path {
    fill: #fefb64;
}

.nav-fill {
    background-color:#021f54;
}

.nav-link {
    color:#ffffff;
}

