.erna {
    border-radius: 25px;
    box-shadow: 8px 8px rgb(56, 54, 54);
    object-fit: cover;
    width: 90%;
}

body {
    background-color: var(--light);
} 

/* not working */
/* .container {
    background-color: var(--medium2);
} */
        
.jumbotron {
    background-color: var(--dark);
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: var(--accent);
    height: 500px;
    position: relative;
}

.display-4 {
    color: var(--white);
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.lead {
    color: var(--accent);
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
        
.h1, h2, h3 {
    color: var(--dark);
}

.container {
    padding: 25px;
}

#contactmeHeader, #contactmeInfo, #projects, #seemoreGitHub, #aboutMe {
    text-align: center;
}

p {
    color: var(--accent);
}
        
path {
    fill: var(--accent2);
    align-items: left;
}

.projectImg {
    height: 196px;
    width: 347px;
}
#takemeHome {
    margin-top: 20px;
    text-align: center;
    color: var(--accent);
}
